body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
   
  #box {
    width: 100px;
    height: 100px;
    background-color: #3db166;
    margin: 20px auto;
    position: relative;
  }